<h5 class="card-title">{{this.publisher}}</h5>
<h6 class="card-subtitle mb-2 text-muted"><a href="{{{this.url}}}" target="_blank">{{this.title}}</a></h6>
<h6 class="card-subtitle mb-2 text-muted">{{this.keyword}}</h6>
